.nav-user img {
	object-fit: cover;
}

img {
	object-fit: cover;
}

.user-image {
	width: 440px !important;
	height: 300px !important;
	background-size: cover;
    object-fit: cover;
}

.sub_box_css{
	flex: 0 auto !important;
	max-width: 25% !important;
}

.user_add{
	margin-top: -8px;
}

.setting_heading{
   color: #f30660;
}